.header {
	width: 100%;
	z-index: 50;
	position: fixed;
}


.header__body {
	position: relative;
	
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 5;

	width: 100%;
}

.header__logo {
	flex: 0 0 150px;
}

.header__logo img {
	width: 100%;
}


.header__buttons {
	display: flex;

	justify-content: space-between;
	align-items: center;	
	width: 250px;
}

.send__request__button {
	background: none;
	color: #FFF;
	font-size: 0.9rem;

	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 8px;

	border: solid 1px #707070;

	transition: 200ms;
}
.send__request__button:hover{
	border: solid 1px #fff;

	cursor: pointer;
}

.header__burger {
	display: block;

	position: relative;
	width: 45px;
	height: 25px;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
	content: '';
	background-color: white;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: 200ms ease-in-out;
}

.header__burger::before {
	top: 0;
}

.header__burger span {
	top: 12px;

}

.header__burger::after {
	width: 60%;
	bottom: 0;

}

.header__burger:hover {
	cursor: pointer;
}

.header__burger:hover:after {
	width: 100%;
} 

.header__burger.active::before {
	top: 11px;
	transform: rotate(45deg);
}

.header__burger.active span {
	top: 0px;
}

.header__burger.active::after {
	width: 100%;
	bottom: 12px;
	transform: rotate(-45deg);

}

.header__burger.active span {
	background-color: rgba(0, 0, 0, 0);
}

.intro {
	position: fixed;

	width: 100%;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.intro:after {
	content: "";

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.8);

	position: absolute;
	top: 0;
	left: 0;

	z-index: 2;
}
.intro__content {
	position: absolute;
	left: 0;
	z-index: 5;

	width: 100%;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	z-index: 1;
}

.video__media {
	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	left: 0;
}

.main__content {
	position: relative;
	top: 400px;
}

.slogan {
	position: absolute;
	
	top: -100px;
}

.slogan h1 {
	color: #fff;
}
.to__portfolio_button {
	background: none;
	color: #FFF;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.1em;


	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 8px;

	border: solid 1px #707070;

	transition: 200ms;
}

.to__portfolio_button:hover {
	border: solid 1px #fff;

	cursor: pointer;
}

.button__link {
	text-decoration: none;

	color: #FFF;
}

.footer {
	position: relative;
	top: 550px;
	display: flex;
	z-index: 0;
}

.award__img {
	width: 10%;
	width: 10%;
	margin-left: -10px;
	opacity: 50%;
}
